[Desktop Entry]
Encoding=UTF-8
Name=Custom Panel Top
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-netbook
X-Plasma-ContainmentCategories=panel
